<ion-view view-title="Berikut ini kostan dengan radius 2km dari Anda">
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <ion-scroll id="ionScrollRegion" direction="x">
	      <!-- <div id="populer-kost-content">
	        <div class="populer-item" ng-repeat="populer in populers">{{populer.data}}</div>
	        <div class="populer-item" ng-repeat="populer in populers">
	        	<img class="kost-image" src="img/kost.jpg" />
	        </div>
	      </div> -->

	      <div id="populer-kost-content">
	      	<div class="populer-item" ng-repeat="populer in populers">
	        	<img class="kost-image" src="img/kost.jpg" />
	        </div>
	      </div>
	    </ion-scroll>
    </ion-content>
</ion-view>